<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwConfigExceptions="true">

  <targets>
	<target xsi:type="File"
			name="debugFile"
			fileName="${basedir}/logs/Paket.CredentialProvider.Gen2Support.log"
			layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}"
			keepFileOpen="false"
			createDirs="true" />
  </targets>

  <rules>
	<logger name="*" minlevel="Trace" writeTo="debugFile" />
  </rules>
</nlog>
