name: Release

on:
    workflow_dispatch:

run-name: Release run ${{ github.RUN_NUMBER }} by @${{ github.actor }}

jobs:
    build:
        uses: ./.github/workflows/ci.yml


    release-CredentialProvider:
        needs: build
        runs-on: windows-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v4
            with:
              fetch-depth: 0

          - uses: actions/download-artifact@v4
            with:
              name: Paket.CredentialProvider.Gen2Support
              path: artifacts/Paket.CredentialProvider.Gen2Support

          - name: Zip release
            shell: pwsh
            run: |
              7z a artifacts\Paket.CredentialProvider.Gen2Support.zip artifacts\Paket.CredentialProvider.Gen2Support 
              
          - name: Release
            uses: softprops/action-gh-release@v2
            with:
              name: Paket.CredentialProvider.Gen2Support v10.0.0
              tag_name: v10.0.0
              files: |
                artifacts/Paket.CredentialProvider.Gen2Support.zip